/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  color: rgb(115 130 175 / 95%);
  margin-right: 7px;
}

body {
  color: rgb(255 255 255 / 90%);
  font-family: 'CaskaydiaMono Nerd Font';
  font-size: 12px;
  overflow: hidden;
}

div,
span,
p {
  cursor: default;
  user-select: none;
}

html,
body,
#root {
  height: 100%;
}

#root {
  border-bottom: 1px solid rgb(255 255 255 / 5%);
  background: linear-gradient(rgb(0 0 0 / 90%), rgb(5 2 20 / 85%));
}

.app {
  display: grid;
  grid-template-columns: 1fr auto minmax(0,1fr);
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
  gap: 10px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
}

.right {
  justify-self: end;
  min-width: 0;
  max-width: 100%;
  display: flex;
  align-items: center;
  gap: 0;
  overflow: hidden;
}

.logo,
.binding-mode,
.tiling-direction,
.paused-button,
.network,
.memory,
.cpu,
.battery {
  margin-right: 20px;
}

.workspaces {
  display: flex;
  align-items: center;
}

.workspace {
  background: rgb(255 255 255 / 5%);
  margin-right: 4px;
  padding: 4px 8px;
  color: rgb(255 255 255 / 90%);
  border: none;
  border-radius: 2px;
  cursor: pointer;

  &.displayed {
    background: rgba(59 77 101 / 50%);
  }

  &.focused,
  &:hover {
    background: rgba(59 77 101 / 50%);
  }
}

.media {
  border: 4px solid rgba(59 77 101 / 95%);
  margin-right: 12px;
  min-width: 0;
  flex-shrink: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: rgba(59 77 101 / 60%);
  border-radius: 999em;
}

.media-button {
  margin-right: 4px;
  margin-left: 4px;
  background: transparent;
  color: rgb(255 255 255 / 90%);
  border: none;
}

.marquee {
  overflow: hidden;
  max-width: 250px;
  white-space: nowrap;
}

.marquee p {
  animation: scroll-left 15s linear infinite;
}

.binding-mode,
.tiling-direction,
.paused-button {
  background: rgb(255 255 255 / 15%);
  color: rgb(255 255 255 / 90%);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}